/* Apply styles to the entire table with class 'table2' */
.table2 {
    width: 100%;
    /*border: 1px solid #ddd; */
    text-align: center;
    padding: 2px;
}

/* Style the table header cells ('th') and table data cells ('td') */
.table2 th,
.table2 td {
    height: 70px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.table2 tr:hover {background-color: #D6EEEE;}

/* Style the rows with class 'table-row' */
.table2 .table-row {
    /* You can add specific styles for rows with this class here */
    /* For example, you can add background-color or other styles */
    border-bottom: 1px solid #000000;
}
.balance {
    text-align: right; /* Align content to the right */
    position: relative; /* Position the container relative to its normal position */
    padding-right: 5.5%;
    font-weight:500;
    font-weight: bolder;
}

.toggle-button {
    width: 100%;
    border: none;
    background-color: rgba(70, 101, 145, 0.86);
    color: #ddd;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }