:root{
  --primary-color: #007bff;
  --secondary-color: #D636C9;
  --light-magenta:#D660CC;
  --accent-color: #D6FA3F;
  --light-lime: #E0FA71;
  --background-color: #26537C;
  --dark-blue:#043A6B;
  --white-color: white;
  --button-color:#18b7be;
}

body {
  background-color: var(--background-color);
}

.header {
  background-color: var(--primary-color);
  color: white;
}
html {
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textBookContainer {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1); /* Light-colored section background */
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

.authorsName {
  margin-right: 5px;
}

h1 {
  /* font-weight: 600; */
  margin: 10px;
  align-self: center;
  width: max-content;
  padding: 15px;
  margin-bottom: 25px;
}

/* effect of change in color for background */
@keyframes darkenBackground {
  0%, 100% {
      background-color: #136183; /* Set your initial background color */
  }
  50% {
      background-color: #0a3446; /* Set your final/darker background color */
  }
}


/* Animation for changing font color */
@keyframes changeFontColor {
  0%, 100% {
      color: rgb(94, 229, 224); /* Set your initial font color */
  }
  50% {
      color: #f0e2c3; /* Set your final font color */
  }
}
body {
  animation: darkenBackground 6s linear infinite; /* Adjust duration and timing as needed */
  animation: changeFontColor 6s linear infinite; /* Apply the animation to the text inside .content */
}

/* Style the navbar */
.topnav {
  background-color: #F9F7F0;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: left;
  display: block;
  color: #072A40;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
 /* background-color: #18b7be;
 color: white;
 */
  background-color:var(--primary-color);
  color:var(--white-color);
}

.topnav a.right-align {
  float: right;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}